
<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center"><%= image_tag @pin.image.url(:medium) %><br/>
				<div class="panel-body">
					<%= @pin.description %></br>
					<%= @pin.user.name %><br/>
					<div id="comments">
					    <h2>
					      <%= @pin.comments.count %>
					      Comments
					    </h2>
					    <%= render @pin.comments %>
					    <h3>Reply to thread</h3>
					    <%= render "comments/form" %>
					  </div>
					<% if @pin.user == current_user %>
					<%= link_to 'Edycja', edit_pin_path(@pin) %> |
					<% end %>
					<%= link_to 'Wstecz', pins_path %>
				</div>
			</div>
		</div>
	</div>
</div>





