
<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
			<%= link_to 'Wstecz', pins_path %><br>
			<div class="img"><%= image_tag @pin.image.url(:medium) %></div><br/>
				<div class="panel-body">
					<div class="img"><%= @pin.description %></br>
					<b><%= @pin.user.name %></b><br/></div>
					<div id="comments">
					    <h4>
					      <%= @pin.comments.count %> 
					    </h4>
					    <%= render @pin.comments %>
					    <h3>Skomentuj</h3>
					    <%= render "comments/form" %>
					  </div>
					
					
				</div>
			</div>
		</div>
	</div>
</div>





