<div class="comment clearfix">
  <div class="content">
    <p class="comment_content">
      <%= comment.comment %>
    </p>
    <p class="comment_author">
      <b><%= comment.user.try(:name) %></b>
      <i><%= comment.user.try(:email) %></i>
    </p>
  </div>
  <div class="buttons">
  <% if comment.user == current_user %>
    <%= link_to "Edytuj", edit_pin_comment_path(comment.pin, comment) %>
    <%= link_to "Usuń", [comment.pin, comment], method: :delete, data: { confirm: "Jesteś pewien?" } %>
  <% end %>
  </div>
</div>
